flows.json
[
    {
        "id": "d2200557f447f565",
        "type": "tab",
        "label": "LOGIN",
        "disabled": false,
        "info": ""
    },
    {
        "id": "64dd684bb00af950",
        "type": "ui_tab",
        "name": "text",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b18abbb32b134906",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "76f36fbb6a355c3c",
        "type": "ui_group",
        "name": "TEXT",
        "tab": "64dd684bb00af950",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6168d8ccc06c2a43",
        "type": "remote-config",
        "name": "Node-RED UI",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/ui",
        "instancehash": "ozsbfeizl0360svbrnclv5rnmaxe5fbjhmx56s1n254les7c0lsapipm8l56ik3k",
        "server": "nodered02.remote-red.com",
        "region": "de"
    },
    {
        "id": "c3416fa0cbb5a859",
        "type": "ui_tab",
        "name": "button",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cf1fae9c34bfc293",
        "type": "ui_group",
        "name": "b",
        "tab": "c3416fa0cbb5a859",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6c71376ca59956a6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "452a712d83454fac8e3998a043ba5614.s1.eu.hivemq.cloud",
        "port": "8884",
        "tls": "719fcaa40a3bf911",
        "clientid": "clientId-Yvsm2Zqo0e",
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c9cc5ec75cba2c62",
        "type": "websocket-client",
        "path": "http://www.hivemq.com/demos/websocket-client/?username=iotuser&host=452a712d83454fac8e3998a043ba5614.s1.eu.hivemq.cloud&port=8884",
        "tls": "",
        "wholemsg": "false",
        "hb": "0"
    },
    {
        "id": "719fcaa40a3bf911",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "05ccbdc58d8c0b8e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "408628e0da26d9bb",
        "type": "mqtt out",
        "z": "d2200557f447f565",
        "name": "",
        "topic": "READ",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "05ccbdc58d8c0b8e",
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "a4f125c3ce0a24f7",
        "type": "debug",
        "z": "d2200557f447f565",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 260,
        "wires": []
    },
    {
        "id": "5b0a9df381b4a6cb",
        "type": "ui_switch",
        "z": "d2200557f447f565",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "76f36fbb6a355c3c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "LED",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 210,
        "y": 220,
        "wires": [
            [
                "408628e0da26d9bb",
                "a4f125c3ce0a24f7"
            ]
        ]
    },
    {
        "id": "fd2080ae901e06b5",
        "type": "mqtt in",
        "z": "d2200557f447f565",
        "name": "",
        "topic": "ANALOG",
        "qos": "0",
        "datatype": "auto",
        "broker": "05ccbdc58d8c0b8e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 170,
        "y": 600,
        "wires": [
            [
                "9a9f6c7d8fa69d8d",
                "d18e3dc03e3a3c6b"
            ]
        ]
    },
    {
        "id": "d18e3dc03e3a3c6b",
        "type": "debug",
        "z": "d2200557f447f565",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 600,
        "wires": []
    },
    {
        "id": "9a9f6c7d8fa69d8d",
        "type": "ui_gauge",
        "z": "d2200557f447f565",
        "name": "",
        "group": "76f36fbb6a355c3c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1024",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 700,
        "y": 660,
        "wires": []
    },
    {
        "id": "aa757e872688cdcb",
        "type": "mqtt in",
        "z": "d2200557f447f565",
        "name": "",
        "topic": "WRITE",
        "qos": "0",
        "datatype": "auto",
        "broker": "05ccbdc58d8c0b8e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 380,
        "wires": [
            [
                "e4ad792d86cf8e70",
                "719870bb4709e476"
            ]
        ]
    },
    {
        "id": "e4ad792d86cf8e70",
        "type": "ui_text",
        "z": "d2200557f447f565",
        "group": "76f36fbb6a355c3c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 720,
        "y": 380,
        "wires": []
    },
    {
        "id": "719870bb4709e476",
        "type": "debug",
        "z": "d2200557f447f565",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 440,
        "wires": []
    }
]